@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Roboto:700i&display=swap');
html{    
/*** Font Sets ***/
    --font-a: 'Maven Pro', sans-serif;
    --font-b: 'Roboto', sans-serif;
    /*** Background Colours ***/
    --primary: #dbdbdb;
    --primary-a: #464545;
    --primary-b: #ffffff;
    --secondary: #267dcf;
    --secondary-a: #1d5183;
    --error: #ff0835;
    --links: #a1fcff;

}

main {
    background: #267dcf;
    padding: 0em 2em 2em 2em;
}

main h2 {
    font-size: 1.15em;
}

body {
	background-color: var(--secondary);
    color: var(--primary-b);
	font-size: 1rem;
	font-family: 'Maven Pro', sans-serif;
}

.title {
    color: var(--primary-b);
    font-family: var(--font-b), sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 1em;
}

.articles {
    color: var(--primary-a);
    background-color: var(--primary);
    font-family: var(--font-a), sans-serif;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    text-align: center;
}

.articles p{
    margin: 1em 0 0 0;
}

a{
    text-decoration: none;
    color: var(--primary-a);
}

a:hover{
    text-decoration: underline;
}

.header{
    background-color: var(--primary);
    text-align: center;
}

.header h1{
    color: var(--primary-a);
    font: bold normal 1.5em var(--font-b) , sans-serif;
    margin: 2em 0 0 0;
}

.menu {
    padding: 1em 0 1em 0;
}

.menu ul{
    margin: 2em 0 1em 0;
}

.menu button{
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu li{
    margin: 0.75em 0 0.75em 0;
    color: var(--primary-a);
}

.logo {
    max-width: 15%;
    padding: 1em;
}

.icon {
    display: inline-block;
    max-width: 40%;
}

.program-img {
    background-color: var(--primary);
    padding: 2em 2em 2em 2em;
}

.footer {
    background-color: var(--secondary-a);
    text-align: center;

}

.footer h1{
    color: var(--primary-b);
    padding: 1em;
}

.contact a{
    color: var(--links);
}

.contact li{
    margin: 1em 0 1em 0;
} 

@media screen and (min-width: 450px){
    body{
        font-size: 0.8em;
    }
    main>div{
        max-width: 450px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 850px) {
body{
    font-size: 0.9em;
    }
main>div{
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
.program-img {
    align-items: center;
   
    }
}

@media screen and (min-width: 1100px) {
    main>div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1100px;
    }
    .menu button {
        display: none;
    }
    .menu li {
        display: inline;
        padding: 1em 3em 0em 3em;
    }
}